<nav class="navbar navbar-expand-xxl bg-primary navbar-dark">
  <div class="container-fluid">
    <%= link_to 'Pool of Polls' ,root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="margin-left: auto">
        <% if user_signed_in? %>
          <%= link_to "New poll", new_poll_path, class:'nav-link active'  %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link text-white" %>
        <% else %>
          <%= link_to 'Sign in', new_user_registration_path, class:'nav-link text-white' %>
          <%= link_to 'Log in', new_user_session_path, class:'nav-link text-white' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>


