<style>
    @media (max-width: 700px) {
        .col-4 {
            width: 100%;
        }
        .stuff{
            margin-bottom: 5rem;
        }
    }
</style>

<div class="stuff" style="top: 0; left: 0">
  <h3 style="margin-left: 3rem">
    ↑
  </h3>
  <h5>
    Back to polls ?
  </h5>
</div>
<div class="row justify-content-center">
  <div class="col-4 text-center">
    <%= form_with(model: poll) do |form| %>
      <% if poll.errors.any? %>
        <div class="text-center" style="color: red">
          <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

          <ul>
            <% poll.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :title, "Poll Title", for: :title, style: "display: block; font-size: 28px; margin-bottom: 10px" %>
        <%= form.text_field :title, class: "form-control form-control-lg" %>
      </div>
      <br/>
      <div>
        <%= link_to_add_nested(form, :questions, '#questions', link_classes: 'btn btn-primary') %>
      </div>

      <br/>
      <div>
        <%= form.label :questions %>
      </div>

      <div id='questions'>
        <%= form.fields_for :questions do |builder| %>
          <%= render 'question_fields', form: builder %>
        <% end %>
      </div>

      <div class="text-center">
        <br/>
        <%= form.submit class: 'btn btn-success' %>
        <br/>
      </div>
    <% end %>
  </div>
</div>
